// Color variable

$main: #63FFDA;
$hover: rgba(99, 255, 218, 0.15);
$title: #8892B0;
$text: #A8B2D1;
$main-title: #CCD6F6;
$background: #0A192E;
$background-block: #112240;


// z-index

$z-header: 10;
$z-sidebar: 11;
$z-dialog: 12;
